apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shared-pvc
spec:
  accessModes:
    - ReadWriteOnce  # Ensure this matches the PV's access mode
  resources:
    requests:
      storage: 1Gi 
  storageClassName: shared-storage  
